* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

figure {
    width: fit-content;
    height: fit-content;
}

img {
    display: block;
    max-width: 100%;
}

.contact_c {
    width: 100%;
    padding: 0 32px;
    min-height: 80vh;
    min-height: 100vh;
    overflow: hidden;
}

.contact_c .c_inner {
    width: 100%;
    max-width: 1557px;
    margin: auto;
    position: relative;
}

.contact_c .c_inner .bg_1 {
    position: absolute;
    top: 12%;
    left: -14%;
    /* width: 40.4vw;
    height: 40.4vw; */
    width: 467px;
    height: 467px;
    background-image: url(../../public/img/main_bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    
}


.contact_c .c_inner .bg_2 {
    position: absolute;
    bottom: -33%;
    right: -31%;
    /* width: 24.4vw;
    height: 24.4vw; */
    width: 672px;
    height: 672px;
    background-image: url(../../public/img/main_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    transform: rotate(180deg);

}




.contact_c .c_inner nav {
    position: absolute;
    top: 50px;
    right: 8px;
    font-size: 40px;
    cursor: pointer;
}

.contact_c .c_inner .info {
    width: 100%;
    padding-top: 220px;
    display: flex;
    flex-direction: column;
    gap: 110px;

}

.contact_c .c_inner .info .download {
    align-self: flex-end;
    margin-right: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contact_c .c_inner .info .download .btn {
    display: flex;
    gap: 20px;
}

.contact_c .c_inner .info .download .btn .b {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.contact_c .c_inner .info .download .btn .b p {
    font-size: 26px;
    color: #DB3A00;
    font-family: "F_EL";
}

.contact_c .c_inner .info .download .btn .b button {
    width: 74px;
    height: 21px;
    color: #fff;
    background-color: #DB3A00;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 16px;
    font-weight: 100;
    font-family: "F_EL";
    cursor: pointer;
}

.contact_c .c_inner .info .contact {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact_c .c_inner .info .contact .top {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 20px;

}

.contact_c .c_inner .info .contact .top .phone {
    display: flex;
    gap: 20px;
    height: 30px;
    align-items: center;
}

.contact_c .c_inner .info .contact .top .phone p {
    font-size: 26px;
    color: #DB3A00;
    font-family: "F_R";
}

.contact_c .c_inner .info .contact .top .phone span {
    font-size: 20px;
    font-family: "F_EL";
    height: 20px;
}

.contact_c .c_inner .info .contact .top .email {
    display: flex;
    gap: 20px;
    height: 30px;
    align-items: center;
}

.contact_c .c_inner .info .contact .top .email p {
    font-size: 26px;
    color: #DB3A00;
    font-family: "F_R";
}

.contact_c .c_inner .info .contact .top .email span {
    font-size: 20px;
    font-family: "F_EL";
    height: 24px;
}

.contact_c .c_inner .info .contact h2 {
    font-weight: 100;
    font-size: 300px;
    color: #DB3A00;
    line-height: 100px;
    margin-bottom: 160px;
}

@media screen and (max-width:1200px) {

    .contact_c .c_inner .bg_1 {
        position: absolute;
        top: 9%;
        left: -23%;
        
    }
    .contact_c .c_inner .bg_2 {
        position: absolute;
        bottom: -42%;
        right: -29%;
        width: 557px;
        height: 557px;
       
    
    }
    .contact_c .c_inner nav{
        font-size: 26px;
    }

    .contact_c .c_inner .info{
        padding-top: 130px;
    }

    .contact_c .c_inner .info .download{
        margin-right: 5%;
    }


    .contact_c .c_inner .info .contact{
        gap: 16px;
    }

    .contact_c .c_inner .info .contact .top{
        gap: 10px;
    }

    .contact_c .c_inner .info .contact h2{
        font-size: 200px;
        margin-bottom: 70px;
    }


}

@media screen and (max-width:900px) {

    .contact_c{
        padding: 0 16px;
    }
    .contact_c .c_inner .bg_1 {
        width: 267px;
        height: 267px;
        position: absolute;
        top: 7%;
        left: -18%;
        
    }
    .contact_c .c_inner .bg_2 {
        position: absolute;
        bottom: -33%;
        right: -25%;
        width: 472px;
        height: 472px;
       
    
    }
    .contact_c .c_inner .info .download{
        align-self: center;
    }

    .contact_c .c_inner .info .contact h2{
        font-size: 144px;
        margin-bottom: 30px;
    }
    
}

@media screen and (max-width:500px){

    .contact_c .c_inner .bg_1 {
        width: 40vw;
        height: 40vw;
        position: absolute;
        top: 8%;
        left: -12%;
        
    }
    .contact_c .c_inner .bg_2 {
        position: absolute;
        bottom: 4px;
        right: -3%;
        width: 50vw;
        height: 50vw;
       
    
    }
    .contact_c .c_inner nav{
        font-size: 22px;
    }

    .contact_c .c_inner .info{
        gap: 100px;
    }

    .contact_c .c_inner .info .download .btn{
        gap: 10px;
    }

    .contact_c .c_inner .info .download .btn .b p{
        font-size: 20px;
    }

    .contact_c .c_inner .info .contact h2{
        font-size: 100px;
        line-height: 50px;
        margin-bottom: 50px;
    }

    .contact_c .c_inner .info .contact .top{
        gap: 0px;
    }

    .contact_c .c_inner .info .contact .top .phone{
        gap: 10px;
    }

    .contact_c .c_inner .info .contact .top .phone p{
        font-size: 18px;
    }

    .contact_c .c_inner .info .contact .top .phone span{
        font-size: 16px;
    }

    .contact_c .c_inner .info .contact .top .email{
        gap: 10px;
    }

    .contact_c .c_inner .info .contact .top .email p{
        font-size: 18px;
    }

    .contact_c .c_inner .info .contact .top .email span{
        font-size: 16px;
    }


}